<h1>Pages git_hooks</h1>

  <p>
    This page will render at '/git_hooks/help'. If it is rendered,
    that means the path '/git_hooks/pullrequests' is also open and 
    receiving POST requests.
  </p>
